<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
</head>
<body>
    <h1>Add New User</h1>

        <!-- Display flashed messages if any exist -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

    <form action="{{ url_for('add_user') }}" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br />
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br />
        <button type="submit">Add User</button>
    </form>
    <br />
    <br />
    <nav>
        <a href="{{ url_for('index_page') }}">Return to main page.</a>
        <br />
        <br />
        <a href="{{ url_for('allusers') }}">Return to 'all users' page.</a>
    </nav>
</body>
</html>
